@import url(https://fonts.googleapis.com/css?family=Titillium+Web:400,300,700);

#menu-0 .navbar-toggler {
  color: #000;
}
#slider-2 H2 {
  color: #ffffff;
  font-family: 'Titillium Web', sans-serif;
  text-align: right;
}
#social-buttons2-6 .mbr-section-title {
  color: #f1c050;
}
